# Entornos virtuales
.venv/
venv/
env/

# Archivos de entorno
.env
*.env

# Caches y compilados
__pycache__/
*.py[cod]

# Archivos de IDE
.idea/
.vscode/

# Archivos temporales
*.log
.DS_Store
Thumbs.db
